<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Products page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.css">
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.1/css/all.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Welcome to the products page</h1>
    <button class="btn btn-primary">Click</button>

    <script src="/webjars/jquery/3.7.1/jquery.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
    <script src="/webjars/alpinejs/3.13.5/dist/cdn.min.js"></script>
</body>
</html>